{
  "plugins": [
    "lodash"
  ],
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          ">0.25%",
          "not ie 11",
          "not op_mini all"
        ]
      },
      "modules": false
    }], 
    ["@babel/env", { "targets": { "node": 6 } }]
  ]
}
